<ion-modal-view >
	<ion-header-bar class="bar bar-header bar-dark">
		<h1 class="title">Details</h1>
		
	</ion-header-bar>
    
    <ion-content scroll="true">

        <ion-list>
            <ion-item class = "item-text-wrap">
                Event: American Red Cross Blood Drive- Marietta
                <!--Event: {{ selectedEvent.title }}-->
            </ion-item>
            <ion-item class = "item-text-wrap">
                Time: 12:00 PM to 5:00 PM
                <!--Time: {{ selectedEvent.start }}-->
            </ion-item>
            <ion-item class = "item-text-wrap">
                Location: Marietta - Wilson Student Center Ballroom
                <!--Location: {{ selectedEvent.location }}-->
            </ion-item>
            <ion-item class = "item-text-wrap">
                Department: Volunteerism and Service Learning Support
                <!--Department: {{ selectedEvent.department }}-->
            </ion-item>
            <ion-item class = "item-text-wrap">
                Description: Did you know 1 pint of blood can save up to 3 lives? Or that every 2 seconds someone needs a blood transfusion? The Donation process takes ... Learn more at redcrossblood.org/rapidpass!
                <!--Description: {{ selectedEvent.description }}-->
            </ion-item>
        </ion-list>
        
        <button class="button button-block button-dark" ng-click="openEventUrl()">
            Event Page
        </button>

        <button class="button button-block button-dark" ng-click="closeDetails()"> 
            Close 
        </button>

        
    </ion-content>
    
</ion-modal-view>


<!--
<item>
	<title>
		<![CDATA[
        KSU ACF - Giving Thanks Potluck - Student Center ST214 (25) Staff Lounge
        ]]>
	</title>
	<description xml:space="preserve">
		<![CDATA[ 5:00 PM to 7:30 PM ]]>
	</description>
	<author>ewells7@kennesaw.edu (Emily Roland Wells)</author>
	<category>Dinner</category>
	<pubDate>Tue, 15 Nov 2016 22:00:00 GMT</pubDate>
	<link> https://calendar.kennesaw.edu/EventDetails.aspx?data=hHr80o3M7J7JmkwjAp30c%2fHYl%2fw6zDOV5rikI8HES93bc3RUMpisGvx3NwE0ZZvn
	</link>
	<guid>
		https://calendar.kennesaw.edu/EventDetails.aspx?data=hHr80o3M7J7JmkwjAp30c%2fHYl%2fw6zDOV5rikI8HES93bc3RUMpisGvx3NwE0ZZvn
	</guid>
</item>-->